<section>
    <h1><%- messages() %></h1>
    <h1><%- title %></h1>
    
    <% if (account_type === "Client") { %>
        <h2>Welcome <%= firstName %></h2>
    <% } else if (account_type === "Employee" || account_type === "Admin") { %>
        <h2>Welcome <%= account_firstname %></h2>
        <h3>Inventory Management</h3>
        <p><a href="/inv/management">Access Inventory Management</a></p>
    <% } %>

    <p><a href="/account/info">Update Account Information</a></p>


</section>